.text[data-size="small"] {
  font-size: var(--font-size-text-small);
  line-height: var(--line-height-text-small);
  font-weight: var(--font-weight-text-small);
}

.text[data-size="medium"] {
  font-size: var(--font-size-text-medium);
  line-height: var(--line-height-text-medium);
  font-weight: var(--font-weight-text-medium);
}

.text[data-size="large"] {
  font-size: var(--font-size-text-large);
  line-height: var(--line-height-text-large);
  font-weight: var(--font-weight-text-large);
}

.text[data-appearance="primary"] {
  color: var(--color-text-primary);
}

.text[data-appearance="secondary"] {
  color: var(--color-text-secondary);
}

.text[data-appearance="disabled"] {
  color: var(--color-text-disabled);
}

.text[data-appearance="success"] {
  color: var(--color-success-text);
}

.text[data-appearance="warning"] {
  color: var(--color-warning-text);
}

.text[data-appearance="error"] {
  color: var(--color-error-text);
}
