.heading[data-level="1"] {
  font: var(--font-heading-1);
}

.heading[data-level="2"] {
  font: var(--font-heading-2);
}

.heading[data-level="3"] {
  font: var(--font-heading-3);
}

.heading[data-level="4"] {
  font: var(--font-heading-4);
}

.heading[data-level="5"] {
  font: var(--font-heading-5);
}

.heading[data-level="6"] {
  font: var(--font-heading-6);
}
