.privateLayout {
  display: flex;
  min-height: 100dvh;
}

.appShell {
  flex: 1;
  min-width: 0;
  max-width: var(--width-content);
  margin: 0 auto;
  padding: var(--space-300);
}

@media (--viewport-below-md) {
  .privateLayout {
    flex-direction: column;
  }
  .appShell {
    width: 100%;
  }
}

@media (--viewport-below-sm) {
  .appShell {
    padding: 1rem;
  }
}
