.button {
  display: inline-block;
  border: 0;
  border-radius: var(--radius-100);
  padding: var(--space-100) var(--space-200);
  text-decoration: none;
  font-weight: 700;
  background: #075f55;
  color: white;
}

.button[data-variant="danger"] {
  background: #ae2c28;
}
