.field {
  display: grid;
  gap: var(--space-050);
}

.label {
  font-size: var(--font-size-text-medium);
  line-height: var(--line-height-text-medium);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-primary);
}

.description,
.error {
  font-size: var(--font-size-text-medium);
  line-height: var(--line-height-text-medium);
}

.description {
  color: var(--color-text-secondary);
}

.error {
  color: var(--color-error-text);
}

.label[data-disabled],
.description[data-disabled] {
  color: var(--color-text-disabled);
}
