.stack {
  display: flex;
  flex-direction: column;
}

.stack[data-gap="0"] {
  gap: var(--space-0);
}

.stack[data-gap="025"] {
  gap: var(--space-025);
}

.stack[data-gap="050"] {
  gap: var(--space-050);
}

.stack[data-gap="075"] {
  gap: var(--space-075);
}

.stack[data-gap="100"] {
  gap: var(--space-100);
}

.stack[data-gap="150"] {
  gap: var(--space-150);
}

.stack[data-gap="200"] {
  gap: var(--space-200);
}

.stack[data-gap="250"] {
  gap: var(--space-250);
}

.stack[data-gap="300"] {
  gap: var(--space-300);
}

.stack[data-gap="400"] {
  gap: var(--space-400);
}

.stack[data-gap="500"] {
  gap: var(--space-500);
}

.stack[data-gap="600"] {
  gap: var(--space-600);
}

.stack[data-gap="800"] {
  gap: var(--space-800);
}

.stack[data-gap="1000"] {
  gap: var(--space-1000);
}

.stack[data-gap="1200"] {
  gap: var(--space-1200);
}

.stack[data-align="start"] {
  align-items: flex-start;
}

.stack[data-align="center"] {
  align-items: center;
}

.stack[data-align="end"] {
  align-items: flex-end;
}

.stack[data-align="stretch"] {
  align-items: stretch;
}

.stack[data-justify="start"] {
  justify-content: flex-start;
}

.stack[data-justify="center"] {
  justify-content: center;
}

.stack[data-justify="end"] {
  justify-content: flex-end;
}

.stack[data-justify="between"] {
  justify-content: space-between;
}

.stack[data-justify="around"] {
  justify-content: space-around;
}

.stack[data-justify="evenly"] {
  justify-content: space-evenly;
}
