.text[data-size="small"] {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
}

.text[data-size="medium"] {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.text[data-size="large"] {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
